version: 2
updates:
   - package-ecosystem: "github-actions"
     directory: "/"
     schedule:
        interval: "weekly"
        day: "saturday"
        time: "00:00"
        timezone: "America/Costa_Rica"
     target-branch: "main"
     labels:
        - "actions"
     groups:
        dependencies:
           patterns:
              - "*"
           update-types:
              - "major"
