name: Release

permissions:
   id-token: write
   contents: write

on:
   push:
      tags:
         - "v*"

jobs:
   release:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v6
           with:
              fetch-depth: 0

         - uses: actions/setup-node@v6
           with:
              node-version: lts/*
              registry-url: https://registry.npmjs.org/

         - name: Update npm
           run: npm install -g npm@latest

         - uses: pnpm/action-setup@v4

         - name: Generate release changelog
           run: pnpx changelogithub
           env:
              GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

         - name: Install dependencies
           run: pnpm install --no-frozen-lockfile

         - name: Publish to npm
           run: |
              TAG="${GITHUB_REF_NAME}"
              if [[ "$TAG" == *"beta"* ]]; then
                 echo "Publishing beta version"
                 pnpm publish --tag beta --access public --no-git-checks
              else
                 echo "Publishing stable version"
                 pnpm publish --access public --no-git-checks
              fi
           env:
              NPM_CONFIG_PROVENANCE: true
